<div class="center hero-unit">
  <h2>Welcome to TiengAnhTuyHoa.com.</h2> 
	    <% if current_user %>
        <% if current_user.name == "kpham" %>
		   <p><%= link_to "manage users", users_path %></p>
		   <p><%= link_to "manage lessons", lessons_path %></p>
		   <p><%= link_to "manage vocabularies", vocabularies_path %></p>
		   <p><%= link_to "manage multichoicequestions", multichoicequestions_path %></p>
		   <p><%= link_to "manage matchquestions", matchquestions_path %></p>
		   <p><%= link_to "manage fillquestions", fillquestions_path %></p>
		<% else %>
			<p>Your Current Lesson:
			<%= link_to @my_lesson.name, lesson_path(current_user.lesson_id)%>
			<% quizzes = @my_lesson.quizzes %>
			</p>
			<p>Your quizzes for this lesson:</p>
			<% quizzes.each do |q| %>
				<p><%= q.name %><%= link_to "see results", user_quiz_quizquestionresults_path(current_user,q) %>
				</p>
			<% end %>
		<% end %>
        <% end %>
</div>
