<%= form_for(@lesson_voca) do |f| %>
  <% if @lesson_voca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson_voca.errors.count, "error") %> prohibited this lesson_voca from being saved:</h2>

      <ul>
      <% @lesson_voca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lesson_id %><br>
    <%= f.number_field :lesson_id %>
  </div>
  <div class="field">
    <%= f.label :vocabulary_id %><br>
    <%= f.number_field :vocabulary_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
