<!DOCTYPE html>
<html>
  <head>
    <title>TEST</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Tieng Anh Tuy Hoa", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">

	  <% if current_user %>
          <li><%= link_to "Home",    'http://tienganhtuyhoa.com' %></li>
          <li><%= link_to "Log out", log_out_path %></li>
	  <li><%= current_user.name %></li>
	  <% else %>
	  <li><%= link_to "Log in", log_in_path %></li>
          <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
